.signIn {
    color:white;
    background-color: #242a38;
    height: 100vh;
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .signInHeader {
      font-size: 80px;
      margin-bottom: 50px;
    }
    .displayNameInput {
      width: 200px;
      margin: 8px 0 20px 0;
    }
    .signInButton {
      width: 200px;
      svg {
        margin-right: 5px;
      }
    }
  }